[Unit]
Description=TPM 1-2-3 — Unseal TPM 1.2 blobs at boot
Wants=dev-tpm0.device
After=local-fs.target dev-tpm0.device

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/tpm123

[Install]
WantedBy=multi-user.target
